@import '../../app-variables';

.fab-button {
    height: 70;
    width: 70; /// this is required on iOS - Android does not require width so you might need to adjust styles
    margin: 15;
    background-color: #3c1b43;
    color: white;
    horizontal-align: right;
    vertical-align: bottom;
  }

  .card-items-category {
    height: 100vh + 3; 
    text-align: center;
    font-size: 28dp;
    font-weight: bold;
    background-color: #8bb7b3;
    color: white;
    padding: 30dp 0dp 0dp 0dp;
  }

  .card-item {
    height: 80dp;
    background-color: $primary;
    color: #3c1b43;
    font-size: 18;
    font-family: "Sriracha", "Sriracha-Regular";
    padding-left: 25dp;
    padding-right: 25dp;
    padding-top: 15dp; 
  }

  .active {
    background-color: #f0d3f7;
    color: #3c1b43;
  }

  ActionBar Label {
    font-family: "Sriracha", "Sriracha-Regular";
  }