<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        
        <StackLayout row="0" class="sidedrawer-header">
            <Label class="sidedrawer-header-logo" text="MESSED UP"></Label>
            <Label class="sidedrawer-header-logo" text="FAMILY BINGO"></Label>
        </StackLayout>
    
        <ScrollView row="1" class="sidedrawer-content">
            <StackLayout>
                <GridLayout columns="30, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/play')" (tap)="onNavItemTap('/play')">
                    <Label col="0" text="&#xf11a;" class="fa"></Label>
                    <Label col="1" text="play" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="30, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/make-card')" (tap)="onNavItemTap('/make-card')">
                    <Label col="0" text="&#xf0c8;" class="fa"></Label>
                    <Label col="1" text="make my card" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="30, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/about')" (tap)="onNavItemTap('/about')">
                    <Label col="0" text="&#xf059;" class="fa"></Label>
                    <Label col="1" text="about this game" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="30, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/terms')" (tap)="onNavItemTap('/terms')">
                    <Label col="0" text="&#xf516;" class="fas"></Label>
                    <Label col="1" text="terms & disclaimers" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
