.my-card-tile {
    margin: 1dp;
    padding: 3dp;
    background-color: lightgray;
    color: black;
    text-align: center;
    text-wrap: true;
    font-size: 8vw;
}

.active {
    background-color: gray;
    color: white;
}

.my-card {
    margin: 2dp;
}