.my-card-tile {
    margin: -4dp -3dp -4dp -3dp;
    padding: 8dp;
    background-color: lightgray;
    font-size: 11;
}

.active {
    background-color: gray;
    color: white;
}

.my-card {
    margin: 10dp;
}