.my-card-tile {
    margin: -5dp -3dp;
    padding: 6dp;
    background-color: lightgray;
    text-align: center;
    text-wrap: true;
    font-size: 10pt;
}

.active {
    background-color: gray;
    color: white;
}

.my-card {

}