
//Theme variables overrides

//ActionBar
$complementary: #3c1b43;
$complementary-color-dark: #f0d3f7;

//Backgrounds
$background: #3c1b43;
$accent: #f0d3f7;

//Text
$primary: white;
$primary-dark: #3c1b43;

// Import the theme’s variables.
@import '~@nativescript/theme/index';


// Sizes
$page-content-placeholder-font-size: 20;

// Colors

// SideDrawer
$item-active-background: white;
$item-active-color: #3c1b43;
$item-active-icon-color: #3c1b43;
$item-color-ios: #3c1b43;
$item-color-android: #3c1b43;

$side-drawer-header-background: #8bb7b3;
$side-drawer-header-brand: #3c1b43;
$side-drawer-background: #FFFFFF;

// Buttons

//Text colors
